doctype html
html
  head
    title Email Validation
    style.
      body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: #131c44;
      }
      .banner {
      width: 100%;
      height: 200px;
      background-image: url('./Banco Digital azul.png');
      background-size: cover;
      background-position: center;
      }
      h1,h2 {
      color: white;
      margin-top: 20px;
      }
      p {
      color: #ffffff;
      }
      a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
      }
      a:hover {
      background-color: #0056b3;
      }
  body
    .banner
    h1 Estimado cliente
    p
      | Para garantizar la seguridad de su cuenta, le solicitamos que verifique su direcci&oacute;n de correo electr&oacute;nico.
    p
      | Por favor, haga clic en el siguiente enlace para completar el proceso de validaci&oacute;n:
   a(href=link) Validar correo
    p Si no ha solicitado esta verificaci&oacute;n, puede ignorar este mensaje
    p Atentamente,
    p Equipo de Atenci&oacute;n al Cliente
    h2 Banco Digital